label {
  display: inline-block;
  margin: .5em 0;
  margin-right: 10px;
  color: #607D8B;
  font-weight: bold;
}
input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}

span.added{
  margin-top: 20px;
  font-family: Arial;
  background-color: lightblue;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  font: 14px Arial;
}

button{
  margin-top: 20px;
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  font: 14px Arial;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

.image-and-icons{
  width: 33%;
  float: left;
  border: 1px solid lightgray;
  padding: 10px;
  margin-right: 20px;
}

.detail-block{
  margin-top: 3px;
  margin-bottom: 3px;
}

.detail-container{
  width: 60%;
  float: left;
  margin-bottom: 30px;
}

.detail-container .title{
  margin-top: 0;
}
