<div [ngBusy]="busy"></div>
<div *ngIf="comic" style="margin-top: 20px">
  <div class="image-and-icons">

    <div class="product-main-image">
      <img [src]="previewImage.path+'.'+previewImage.extension" alt="Placeholder" class="placeholder">
    </div>

    <ul *ngIf="comic.images.length > 1" class="thumbnails">
      <li *ngFor="let image of comic.images">
        <a (click)="previewImage=image" data-num="" class="preview-image">
          <img [src]="image.path+'.'+image.extension" alt="Thumbnails">
        </a>
      </li>
    </ul>

  </div>

  <div class="detail-container">
    <h2 class="title">{{comic.title}}</h2>
    <p>{{comic.description}}</p>
    <div class="detail-block">
      <label>Дата выхода: </label>{{comic.dates[0].date | amDateFormat: 'LL'}}
    </div>
    <div class="detail-block">
      <label>Список персонажей: </label>
      <div *ngIf="comic.characters.items.length != 0;else elseBlock">
        <div *ngFor="let character of comic.characters.items">
          {{character.name}}
        </div>
      </div>

    </div>
    <div class="detail-block">
      <label>Список историй: </label>
      <div *ngIf="comic.stories.items.length != 0;else elseBlock">
        <div style="margin-bottom: 5px" *ngFor="let story of comic.stories.items">
          {{story.name}}
        </div>
      </div>
      <ng-template #elseBlock>
        <span>Отсутствует</span>
      </ng-template>
    </div>
    <button (click)="goBack()">Назад</button>
    <div style="display: inline;" *ngIf="exists">
      <div style="display: inline;" *ngIf="exists.exists;else addBlock">
        <span class="added">Добавлено</span>
      </div>
      <ng-template #addBlock>
        <button (click)="add(comic)">Добавить</button>
      </ng-template>
    </div>

  </div>
</div>

