a {
  text-decoration: none;
}


.photo img{
  width: 130px;
}
.photo{
  text-align: center;
}

table{
  border-left: 1px solid gainsboro;
  border-right: 1px solid gainsboro;
}

table tbody td{
  border-top: 1px solid gainsboro;
  padding: 8px;
}

thead td{
  padding-left: 20px;
}

.search-container{
  margin-bottom: 20px;
  margin-top: 20px;
}

.disabled{
  display: none;
}

.search-result-container{
  overflow-y: scroll;
  border: 1px solid gainsboro;
  margin-left: -2em;
  margin-right: -2em;
  padding-left: 2em;
  padding-right: 2em;
}

#search-box{
  border-radius: 3px;
  padding: 5px;
  border: 1px solid lightgray;
  width: 300px;
}

.search-container button{
  height: 27px;
  width: 77px;
}

.comic-table thead{
  background-color: #eee;
}

.comic-table thead td{
  color: #607D8B;
}

.comic-table{
  width: 100%;
  border-bottom: 1px solid gainsboro;
}

.comic-table tbody td{
  height: 221px;
}
