<nav>
  <a routerLink="/marvel" routerLinkActive="active">Поиск</a>
  <a routerLink="/master" routerLinkActive="active">Сохраненные</a>
</nav>
<div [ngBusy]="busy"></div>
<div class="search-result-container" [style.height]="innerHeight" *ngIf="comics" [class.disabled]="searchDisable">
  <table class="comic-table">
    <thead style="background-color: #eee;">
    <tr>
      <td width="22%">Название</td>
      <td width="20%">Дата выхода</td>
      <td width="12%">EAN</td>
      <td width="26%">Варианты выхода</td>
      <td width="20%">Фото</td>
    </tr>
    </thead>
    <tbody *ngIf="comics.length > 0;else emptyBlock">
      <tr *ngFor="let comic of comics">
        <td class="name"><a [routerLink]="['/master', comic.id]">{{comic.title}}</a></td>
        <td class="date">{{comic.date | amDateFormat: 'LL'}}</td>
        <td class="ean">{{comic.ean || "Пусто"}}</td>
        <td class="variants">
          <div *ngIf="comic.variants.length != 0;else elseBlock">
            <p *ngFor="let variant of comic.variants">
              {{variant.name}}
            </p>
          </div>
          <ng-template #elseBlock>
            <p>Пусто</p>
          </ng-template>
        </td>
        <td class="photo"><img [src]="comic.thumbnail.path+'.'+comic.thumbnail.extension"></td>
      </tr>
    </tbody>
    <ng-template #emptyBlock>
      <tbody>
      <tr>
        <td colspan="5" style="text-align: center;">Комиксы отсутствуют</td>
      </tr>
      </tbody>
    </ng-template>
  </table>
</div>

<router-outlet (activate)="searchDisable=true;" (deactivate)="searchDisable=false;refresh();"></router-outlet>
