.order-block{
  margin-top: 30px;
  border: 1px solid lightgray;
  padding: 10px;
}
.disabled{
  display: none;
}

.order-block input{
  width: 40%;
}

.order-block button{
  height: 38px;
  color: black;
  margin-left: 10px;
}

.order-accepted{
  display: block;
  margin-top: 20px;
  font-size: 22px;
  color: orangered;
}
