.thumbnails img {
    max-width: 100%;
    max-height: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    background: #fff;


    vertical-align: top;
    position: relative;
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.product-main-image img{
    max-width: 100%;
    max-height: 100%;
    padding:3px;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 7px rgba(0,0,0,0.1);
}

.thumbnails .preview-image img{
  max-height: 84%;
}


.product-main-image {
    margin-bottom: 0.75em;
    width: 100%;
    float: left;
    height: 300px;
    text-align: center;
}
.thumbnails li {
    float: left;
    height: 80px;
    width: 21.8%;
    display: block;
    margin: 0 10px 10px 0;

    text-align: center;
    overflow: hidden;
}

.thumbnails{
    padding-left: 0;
    width: 100%;
    float: left;
    margin-bottom: 0;
}
