<div *ngIf="comic">
  <div [ngBusy]="busy"></div>
  <div class="detail-container">
    <label for="title">Заголовок:</label>
    <input id="title" class="change-input" [(ngModel)]="comic.title">

    <label for="description">Описание:</label>
    <textarea id="description" [(ngModel)]="comic.description"></textarea>

    <div class="change-block">
      <label>Дата выхода: </label>
      <input
        [(ngModel)]="comic.date"
        ngui-datetime-picker [close-on-select]="false"/>
    </div>

    <div class="change-block">
      <label for="ean">EAN: </label>
      <input id="ean" class="change-input" [(ngModel)]="comic.ean">
    </div>
    <div class="change-block">
      <label>Список персонажей: </label>
      <div *ngIf="comic.characters.length != 0;else elseBlock">
        <div *ngFor="let character of comic.characters">
          <input class="change-input" [(ngModel)]="character.name">
          <span class="remove">Удалить:</span><input (change)="addToRemove(character, 'character', $event)" type="checkbox">
        </div>
      </div>
    </div>
    <div class="change-block">
      <label>Список историй: </label>
      <div *ngIf="comic.stories.length != 0;else elseBlock">
        <div style="margin-bottom: 5px" *ngFor="let story of comic.stories">
          <input class="change-input" [(ngModel)]="story.name">
          <span class="remove">Удалить:</span><input (change)="addToRemove(story, 'story', $event)" type="checkbox">
        </div>
      </div>
    </div>
    <div class="change-block">
      <label>Варианты: </label>
      <div *ngIf="comic.variants.length != 0;else elseBlock">
        <div style="margin-bottom: 5px" *ngFor="let variant of comic.variants">
          <input class="change-input" [(ngModel)]="variant.name">
          <span class="remove">Удалить:</span><input (change)="addToRemove(variant, 'variant', $event)" type="checkbox">
        </div>
      </div>
    </div>
    <ng-template #elseBlock>
      <span>Отсутствует</span>
    </ng-template>
    <div class="detail-block">
      <span>Оторажать на сайте: </span><input type="checkbox" [(ngModel)]="comic.active">
    </div>
    <button (click)="cancel()">Отмена</button>
    <button (click)="save()">Сохранить</button>
  </div>
</div>
