label{
  display: inline-block;
  margin: 0 0 11px 0;
  color: #607D8B;
  font-weight: bold;
  width: 100%;
}

input, textarea{
  margin-bottom: 11px;
  width: 50%;
}

textarea{
  width: 100%;
  overflow-y: scroll;
  height: 110px;
}

.change-block{
  margin-bottom: 11px;
}

.change-input{
  margin-top: 0;
}

input[type=checkbox]{
  width: 22px;
  height: 22px;
  margin-bottom: 0;
  margin-top: 0px;
  vertical-align: middle;
  margin-left: 15px;
}

.change-block span.remove{
  margin-left: 30px;
}
