<div [ngBusy]="busy"></div>
<div *ngIf="comic" style="margin-top: 20px">
  <div class="image-and-icons">

    <div class="product-main-image">
      <img [src]="previewImage.path+'.'+previewImage.extension" alt="Placeholder" class="placeholder">
    </div>

    <ul *ngIf="comic.images.length > 1" class="thumbnails">
      <li *ngFor="let image of comic.images">
        <a (click)="previewImage=image" data-num="" class="preview-image">
          <img [src]="image.path+'.'+image.extension" alt="Thumbnails">
        </a>
      </li>
    </ul>

  </div>

  <div class="detail-container" [class.disabled]="hideDetails.val">
    <h2 class="title">{{comic.title}}</h2>
    <p>{{comic.description}}</p>
    <div class="detail-block">
      <label>Дата выхода: </label>{{comic.date | amDateFormat: 'LL'}}
    </div>
    <div class="detail-block">
      <label>Список персонажей: </label>
      <div *ngIf="comic.characters.length != 0;else elseBlock">
        <div *ngFor="let character of comic.characters">
          {{character.name}}
        </div>
      </div>

    </div>
    <div class="detail-block">
      <label>Список историй: </label>
      <div *ngIf="comic.stories.length != 0;else elseBlock">
        <div style="margin-bottom: 5px" *ngFor="let story of comic.stories">
          {{story.name}}
        </div>
      </div>
      <ng-template #elseBlock>
        <span>Отсутствует</span>
      </ng-template>
    </div>
    <div class="detail-block">
      <div *ngIf="comic.active;else elseVisibilityBlock">
        <span class="comic-active">Отображается на сайте</span>
      </div>
      <ng-template #elseVisibilityBlock>
        <span class="comic-inactive">Не отображается на сайте</span>
      </ng-template>
    </div>
    <button (click)="goBack()">Назад</button>
    <button (click)="deleteComic(comic)">Удалить</button>
    <button (click)="changeComic()">Редактировать</button>
  </div>

  <app-comic-change [class.disabled]="!hideDetails.val" [visibility]="hideDetails" [comic]="comicToChange"></app-comic-change>
</div>
